<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="net.orgiu.tests">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".constracts.PermissionExampleActivity"></activity>

        <receiver
                android:name=".intentsender.ShareComponentReceiver"
                android:enabled="true"
                android:exported="true" />

        <activity android:name=".intentsender.IntentSenderActivity" />
        <activity android:name=".constracts.ContractsActivity" />
        <activity android:name=".lce.LceActivity" />
        <activity android:name=".fragmentslifecycle.FragmentListenerActivity" />
        <activity
                android:name=".nightmode.NightModeActivity"
                android:label="@string/night_mode_title"
                android:theme="@style/NightModeTheme" />
        <activity android:name=".fullscreenvideo.WebViewActivity" />
        <activity android:name=".networkrequest.NetworkRequestActivity" />
        <activity android:name=".biometric.BiometricActivity" />
        <activity android:name=".textscaling.TextScalingDataBindingOnlyActivity" />
        <activity android:name=".textscaling.TextScalingActivity" />
        <activity android:name=".snackbar.SnackbarActivity" />
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
